site_name: 小书
site_url: https://csy01-xy.github.io/csy-ptyz-book/
repo_name: csy-ptyz-book
repo_url: https://github.com/csy01-xy/csy-ptyz-book
copyright: Copyright &copy; 2025~now csy

theme:
  name: material
  language: zh
  custom_dir: overrides

  # 【重要】必须确保 assets 文件夹里是处理好的透明背景 logo.png
  logo: assets/logo.png
  favicon: assets/logo.png?v=1.0

  features:
    - navigation.top
    - navigation.expand
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.copy

  palette:
    # 亮色模式
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey       # 蓝灰顶栏 (衬托红色校徽)
      accent: deep orange      # 深橙色链接
      toggle:
        icon: material/brightness-7
        name: 切换到深色模式
    # 深色模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: 切换到浅色模式

extra_css:
  - stylesheets/extra.css

plugins:
  - search:
      lang: zh

markdown_extensions:
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.keys
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      preserve_tabs: true
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - 首页: index.md
  - 测试页: test.md